<div *ngIf="dataLoaded == false" class="text-center">
  <button class="btn btn-primary" type="button" disabled>
    <span
      class="spinner-border spinner-border-sm"
      role="status"
      aria-hidden="true"
    ></span>
    Loading...
  </button>
</div>
<div class="list-group">
  <a
    href="#"
    (click)="setCurrentCategory(category)"
    *ngFor="let category of categories"
    [ngClass]="getCurrentCategoryClass(category)"
    >{{ category.categoryName }}</a
  >
</div>
<h5 *ngIf="currentCategory != null">
  {{ currentCategory.categoryName }} seçtiniz.
</h5>
